body{background-color: cadetblue;}
h1{
    margin: 20px auto; text-align: center; width:720px;
}
#main{
    width: 720px;
    margin: 0px auto;
    border: 1px solid black;
    height: 960px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    font-size: 14pt;
    padding: 10px;

}
p{
    width: 720px;
    margin: 0px auto;
    font-weight: lighter;
    text-align: center;
    display: flex;
}
img{
    height: 480px;
    display: flex;
    border: 5px solid black;
    border-radius: 15px;
    margin: 10px 100px;
    
}

.kiskep{
    margin: 10px 150px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}