
h1{
    margin: 20px auto; text-align: center; width:720px;
}
#main{
    width: 720px;
    margin: 0px auto;
    border: 1px solid black;
    height: 720px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    font-size: 14pt;
    padding: 10px;

}

img{
    height: 720px;
    display: flex;
    border: 5px solid black;
    border-radius: 15px;
    margin: 10px 100px;
    
}

.kiskep{
    margin: 10px 150px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 1920px;
    height: 1080px;
    transform-origin: top left;
    transform: scale(var(--scale));

}